@use "./variables" as *;

@mixin carrusel__img($height: 400px, $object-fit:cover) {

    height: $height;
    object-fit: $object-fit;

}

@mixin carrusel__img-desktop($height: 700px, $object-fit: cover) {
  @media (min-width: 992px) {
    height: $height;
    object-fit: $object-fit;
  }
}

@mixin color_botones($color: $warning){
 background-color: $color;
}
